:root{
	--color-primary:		#FF0000;
	--color-secundary:		#F8D412;

	--color-red:                  	red;

	--color-text:				#212121;
	--color-text-light:		#757575;
	--color-text-black:		#000000;

	--color-body:			#fff;
	--body-line-height:		1.5;
	--body-size-text:		1rem;

	--title: 					'Lato', sans-serif;
	--title-bold: 				'Lato', sans-serif;

	--text: 					'Open Sans', sans-serif;
	--text-light: 				'Open Sans', sans-serif;
	--text-bold: 				'Open Sans', sans-serif;

	--text-serif: 				'Merriweather', serif;
	--text-mono:			'Roboto Mono', monospace;

	--color-link: 				#FF0000;
	--color-link-hover: 		#F8D412;

	--color-accent:			#EDEDED;
	--color-divider:			#BDBDBD;
	--color-elements:		#222;

	--color-placeholder:		#757575;
	--color-selection-bg:		#ead4ff;
	--color-selection-text: 	#000000;
}