@mixin title{
	@include font-face($title, normal, 700);
}

@mixin title-bold{
	@include font-face($title-bold, normal, 900);
}

@mixin text{
	@include font-face($text, normal, 400);
}

@mixin text-light{
	@include font-face($text-light, normal, 300);
}

@mixin text-bold{
	@include font-face($text-bold, normal, 700);
}

@mixin text-serif{
	@include font-face($text-serif, normal, 400);
}

@mixin text-mono{
	@include font-face($text-mono, normal, 400);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html{
	box-sizing: border-box;
}

body {
	margin: 0;
	// Text
	@include text;
	color: $color-text;
	font-size: $body-size-text;
	line-height: $body-line-height;
	letter-spacing: 0.03rem;
	text-align: left;

	// Color
	background-color: $color-body;

	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
}

// =Titles
// -------------------------------------------------------------------------------
hgroup{

}

h1, h2, h3, h4, h5, h6{
	@include title-bold;
}

h1{
	font-size: calRem(64px);
}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

hr{
	border-color: $color-divider;
}

// =Text
// -------------------------------------------------------------------------------
a{
	color: $color-link;
	text-decoration: underline;
	@include transition(0.3s);
	&:hover{
		color: $color-link-hover;
		text-decoration: underline;
		@include transition(0.3s);
	}
}

address{
	font-style: normal;
}

blockquote{
	font-style: normal;
}

em{

}

i{

}

p{

}

strong{
	@include text-bold;
}

span{

}

svg{

}

// =Code
// -------------------------------------------------------------------------------
var{

}

pre, code{
	@include text-mono;
}

// =Selection
// -------------------------------------------------------------------------------
::-moz-selection {
	color: $color-selection-text;
	background: $color-selection-bg;
}
::selection {
	color: $color-selection-text;
	background: $color-selection-bg;
}

// =Placeholder
// -------------------------------------------------------------------------------
::-webkit-input-placeholder {
	color: $color-placeholder;
}

:-moz-placeholder {
	color: $color-placeholder;
	opacity: 1;
}

::-moz-placeholder {
	color: $color-placeholder;
	opacity:  1;
}

:-ms-input-placeholder {
	color: $color-placeholder;
}