//= Colors
//-------------------------------------------------------------------------------
$color-primary:				var(--color-primary) !default;
$color-secundary: 			var(--color-secundary) !default;

$color-red: 					var(--color-red) !default;

$color-text:					var(--color-text) !default;
$color-text-light:			var(--color-text-light) !default;
$color-text-black:			var(--color-text-black) !default;

$color-link:					var(--color-link) !default;
$color-link-hover:			var(--color-link-hover) !default;

$color-elements:			var(--color-elements) !default;
$color-accent:				var(--color-accent) !default;
$color-divider:				var(--color-divider) !default;

$color-body:				var(--color-body) !default;
$color-selection-bg:	 	var(--color-selection-bg) !default;
$color-selection-text:	var(--color-selection-text) !default;
$color-placeholder:		var(--color-placeholder) !default;


//= Typography
//-------------------------------------------------------------------------------
$body-line-height:	var(--body-line-height);
$body-size-text: 	var(--body-size-text);

//= Fonts
//-------------------------------------------------------------------------------
$title: 			var(--title);
$title-bold: 		var(--title-bold);

$text: 			var(--text);
$text-light: 		var(--text-light);
$text-bold: 		var(--text-bold);

$text-serif: 		var(--text-serif);
$text-mono:	var(--text-mono);


//= Inputs
//-------------------------------------------------------------------------------
$inputs-border-radius:	0px !default;
$inputs-padding:			0.85rem 0.75rem;


//= Buttons
//-------------------------------------------------------------------------------
$buttons-radius:		0px !default;
$buttons-padding:	0.5rem 1.35rem !default;


//= Breakpoints
//-------------------------------------------------------------------------------
$screen-xsmall:		576px !default;
$screen-small:			768px !default;
$screen-medium:		1024px !default;
$screen-large:			1440px !default;
$screen-full:			1600px !default;
