.btn {
      display: inline-block;
      background: none;
      border: 0;
      line-height: 1em;
      cursor: pointer;
      outline: none;
      vertical-align: middle;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
}

.btn::-moz-focus-inner {
      border: 0;
      padding: 0;
}

.btn-rounded {
      color: white;
      font-weight: 600;
      font-size: 1rem;
      border-radius: 3px;
      border: 1px solid $color-primary;
      background-color: $color-primary;
      padding: 0.7rem 1.6rem;
      transition: all 0.3s ease-in-out;

      &:focus{
            transition: all 0.3s ease-in-out;
            border: 1px solid $color-secundary;
            background-color: $color-secundary;
      }
      &:hover{
            transition: all 0.3s ease-in-out;
            border: 1px solid $color-secundary;
            background-color: $color-secundary;
      }
}

.btn-cancel{
      color: white;
      font-size: 1rem;
      background-color: $color-red;
      border: 1px solid $color-red;

      &:hover{
            background-color: $color-red;
            border: 1px solid $color-red;
      }
}

.btn-negative {
      border-color: #b3000a;
      color: #b3000a;
}

.btn-negative:hover,
.btn-negative:focus {
      background: #b3000a;
}

.btn-positive {
      border-color: #8dae28;
      color: #8dae28;
}

.btn-positive:hover,
.btn-positive:focus {
  background: #8dae28;
}

.btn-with-icon {
  color: #777;
  white-space: nowrap;

  body.ltr & {
    text-align: left;
  }
  body.rtl & {
    text-align: right;
  }
}
.btn-with-icon:focus,
.btn-with-icon:hover {
  color: #000;
}
.btn-with-icon .icon {
  color: #000;
}
.btn-addit i {
  line-height: 0;
}
.btn-wide {
  min-width: 10em;
}
.btn-disabled {
  opacity: .25;
  pointer-events: none;
}