:root{
	--color-primary: #2a6df4;
	--color-secundary: #0c57ed;

	--color-text: #212b36;
	--color-text-light: #637381;
	--color-text-dark: #121212;

	--color-red: #fc454b;
	--color-green: #649f38;
	--color-yellow: #F59E0A;
	--color-icon-accent: #919eab;

	--body-size-font: 1rem;
	--body-background-color: #F4F6F8;

	--color-accent: #F4F6F8;
    	--color-divider: #dfe3e8;
}