*,
*::before,
*::after {
	box-sizing: border-box;
}

html{
	width: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

body{
	width: 100%;
	position: relative;
	font-family: $font-text;
	color: $color-text;
	font-size: $body-size-font;
	background-color: $body-background-color;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
}

.light {
	font-weight: 300;
}

b,
strong,
.strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #000;
}

.marginalia {
	color: #777;
}

hr {
	display: block;
	height: 2px;
	background: #ddd;
	border: 0;
}