$color-text: 				var(--color-text) !default;
$color-text-light: 		var(--color-text-light) !default;
$color-text-dark: 		var(--color-text-dark) !default;

//
$color-icon-accent: 	var(--color-icon-accent) !default;

//
$color-accent: 	var(--color-accent) !default;
$color-divider: 	var(--color-divider) !default;

//
$body-size-font: 				var(--body-size-font) !default;
$body-background-color: 	var(--body-background-color) !default;