$color-primary: 		var(--color-primary) !default;
$color-secundary: 		var(--color-secundary) !default;

// Text
$color-text: 				var(--color-text) !default;
$color-text-light: 		var(--color-text-light) !default;
$color-text-dark: 		var(--color-text-dark) !default;

// Colors
$color-red: 				var(--color-red) !default;
$color-green: 			var(--color-green) !default;
$color-blue: 			var(--color-blue) !default;
$color-yellow: 			var(--color-yellow) !default;
$color-icon-accent: 	var(--color-icon-accent) !default;

// Accents
$color-accent: 			var(--color-accent) !default;
$color-divider: 			var(--color-divider) !default;

// Body
$font-text: 						var(--font-text) !default;
$body-size-font: 				var(--body-size-font) !default;
$body-background-color: 	var(--body-background-color) !default;