.welcome__row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.welcome__avatar{
	width: 40px;
	height: 40px;
	border: 0px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
	text-align: center;
	background-color: #9D6ADD;

	i{
		color: white;
		font-size: 18px;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, - 50%);
	}
}

.welcome__username{
	display: inline-block;
	position: relative;
	padding-left: 16px;

	span{
		color: $color-text-light;

		strong{
			color: $color-text;
			font-weight: 700;
		}
	}
}

.welcome__settings{
	width: 100%;
	padding: 1em 1.5em;
	background: $color-accent;
	border: 1px solid $color-divider;
	margin-top: 25px;
	position: relative;

	p{
		font-weight: 700;
		margin-bottom: 0px;

		i{
			margin-right: 4px;
			position: relative;
		}
	}

	span{
		color: $color-text-light;
		font-size: 14px;
		display: block;
		position: relative;
		margin-top: 4px;
		margin-bottom: 25px;

		i{
			margin-right: 4px;
			position: relative;
		}
	}

	a{
		color: $color-link;
		position: relative;
		text-decoration: underline;

		&:hover{
			color: $color-link-hover;
		}

		i{
			margin-right: 4px;
			position: relative;
		}
	}
}