form{
	margin: 0;

	label{
		display: block;
		padding-bottom: 5px;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="url"],
	input[type="search"],
	input[type="password"],
	input[type="date"],
	input[type="time"]{
		@include text;
		color: $color-text;
		//= S t y l e
		width: 100%;
		padding: $inputs-padding;
		border-radius: $inputs-border-radius;
		background-color: white;
		border: 1px solid $color-divider;
		&:focus{
			box-shadow: none;
			outline: 1px solid white;
		}
	}

	textarea{
		@include text;
		color: $color-text;
		//= S t y l e
		width: 100%;
		padding: $inputs-padding;
		border-radius: $inputs-border-radius;
		background-color: white;
		border: 1px solid $color-divider;
		&:focus{
			box-shadow: none;
			outline: 1px solid white;
		}
	}

	input[type="submit"],
	input[type="reset"]{
		@include text;
		height: auto;
	}

	select{

	}
}

.form-item{
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}

.form-message{
	width: 100%;
	padding: 10px;
	position: relative;
	color: white;
	font-size: calRem(12px);

	&.is-success{
		background-color: blue;
	}
	&.is-error{
		background-color: $color-red;
	}
}

.input-message{
	color: $color-red;
	font-size: calRem(10px);
	left: 0px;
	bottom: -20px;
	position: absolute;
	@include autoAlpha(true);
}

.input-error{
	border: 1px solid $color-red !important;
}


