.footer{
	width: 100%;
	position: relative;
	padding-top: 4vh;
	padding-bottom: 4vh;
}

.footer__address{
	width: 100%;
	position: relative;

	address{
		font-size: calRem(14px);
	}
}

.footer__contact{
	width: 100%;
	position: relative;

	ul{
		list-style: none;
		margin: 0px;
		padding: 0px;

		li{
			position: relative;

			+ li{
				margin-top: 0.5rem;
			}

			a{
				font-size: calRem(14px);
				display: inline-block;
				position: relative;
			}
		}
	}
}

.footer__social{
	width: 100%;
	position: relative;

	ul{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		list-style: none;
		margin: 0px;
		padding: 0px;
		position: relative;

		li{
			position: relative;

			+ li{
				margin-left: 25px;
			}

			a{
				display: inline-block;
				position: relative;

				&:hover{

				}
			}
		}
	}
}

.footer__bottom{
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 4vh;

	span{
		font-size: calRem(14px);
		display: block;
		position: relative;
	}

	p{
		font-size: calRem(14px);
		margin: 0px;
		position: relative;
	}

	a{
		font-size: calRem(14px);
		display: inline-block;
		position: relative;

		&:hover{

		}
	}
}