.contact{
	width: 100%;
	position: relative;
}

// FORM
.contact__form{
	width: 100%;
	position: relative;
	margin-bottom: 6vh;
}

// GOOGLE MAPS
.contact__google__maps{
	width: 100%;
	height: 65vh;
	position: relative;
	background-color: $color-accent;

	#maps{
		@include full();
	}
}