.page{
	width: 100%;
	position: relative;
	padding-top: 10em;
	padding-bottom: 10em;
	@include autoAlpha(true);
}

.page__section{
	width: 100%;
	position: relative;

	h1{
		position: relative;
		margin-bottom: 65px;
	}
	h2{
		margin-top: 35px;
		margin-bottom: 25px;
	}
	h3{
		margin-top: 35px;
		margin-bottom: 25px;
	}
	h4{
		margin-top: 35px;
		margin-bottom: 25px;
	}
	p{
		margin-bottom: 25px;
	}
	a{
		&:hover{

		}
	}
}